h1{
  color: brown; 
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 30px;
   border-radius: 10px;
   height: 40px;
}
#backbtn{
    width: 40px;
    height: 50;
    position: absolute;
    /* right: 40px; */
    left: 60px;
    top: 40px;
}
body{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    width: 600px;
    height: 400px;
    padding: 40px;
    gap: 15px;
    
}
input{
    padding: 20px;
    border: none;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     outline: none;
     font-size: larger;
     border-radius: 5px;
     cursor: pointer;
}
label{
    /* padding: 10px; */
    font-size: large;
    font-family: sans-serif;
    font-weight: 600;
    font-style: italic;
}
select{
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    cursor: pointer;
}
button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: gold;
    color:black;
    border-radius: 5px;
    
}
button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    
}