*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
main a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    background-color: aquamarine;
    padding: 8px 12px;
    border-radius: 5px;
}