*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    flex-wrap: wrap;
}

/* h1 section */
h1{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 img{
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
}

/* Right side section */
.btnsection{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* Search box */
.searchbox{
  padding: 10px 40px 10px 15px;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Add icon inside search */
.addbtn img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 70px;
    bottom: 10px;
    cursor: pointer;
}

/* Button */
.btn{
  padding: 11px 40px;
  border-radius: 40px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
.mainsection{
    margin-top: 2px;
   /* border: 1px solid red;  */
   width: 100%;
   height: 100vh;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.user-container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 100%;
  height: 100vh;
  margin: 15px;
  padding: 10px;
}
form{
  background-color: rgb(226, 221, 221);
}

.user-section{
  display: flex;
  justify-content: space-between;
  
}
.user{
  display: flex;
  justify-content: space-between;
  border: 1px solid red;

}
 .profile-img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.user-td{
  display: flex;
  align-items: center;
  gap: 10px;

}
.user p{
  display: flex;
  justify-content: center;
  align-items: center;

}
table{
  
  gap: 20px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 99;
  margin-top: 20px;
}
.th-tr th{
  width: 25%;
}
.td-action{
  width: 25px;
  height: 30px;
}
td{
  text-align: center;
}
#admin{
  /* background-color: darkgreen; */
  color: white;
  /* display: flex; */
  /* justify-content: center; */
  /* height: 100%; */
  /* text-align: center; */
  /* border: none; */
  border-radius: 5px 40px 5px;
   background-color: red;
  
}
#admin div{
 
  /* padding: 10px 30px; */
  /* width: 100px; */
  /* align-items: center; */

  /* text-align: center; */
}
/* media query */

@media (max-width: 768px){
  main{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .btnsection{
    width: 100%;
    justify-content: space-between;
  }

  .searchbox{
    width: 65%;
  }

  .addbtn img{
    right: 10px;
  }
}




@media (max-width: 812px){
  h1{
    font-size: 18px;
  }
  .addbtn img{
    display: none;
  }
}

@media (max-width: 480px){
  h1{
    font-size: 18px;
  }
  .addbtn img{
    display: none;
  }


  .btnsection{
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .searchbox{
    width: 100%;
  }

  .addbtn img{
    right: 20px;
    top: 12px;
  }

  .btn{
    width: 100%;
    padding: 12px;
  }
}
div form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 30%;
  top: 100px;
  border: 1px solid gray;
  padding: 30px;
  display: none;
  height: 500px;
  
}

input{
  padding: 10px;
  font-size: 16px;
}
label{
  font-size: 18px;
  font-weight: 500;
}
select{
  padding: 10px;
  font-size: 16px;
}
.canclebtn{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cancleimg{
  width: 20px;
  height: 20px;
}
button{
  padding: 10px;
  font-size: 16px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover{
  background-color: slategray;
}
.button [type="submit"]{
  background-color: green;
}