*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
main a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    background-color: aquamarine;
    padding: 8px 12px;
    border-radius: 5px;
} */

body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 15px;

    width: 400px ;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
h1{
    text-align: center;
}
p{
    color: red;
}
form input{
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 0.5px solid black;
}
label{
  text-transform: capitalize;
  font-weight: 500;
  font-size: larger;
}
button{
    padding: 10px ;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
#form-container{
    
}